{% if section.blocks.size > 0 %}
  {% if section.settings.head != blank %}
  <h2 class="heading">{{ section.settings.head }}</h2>
  {% endif %}
<div class="demosection slick-slider"> 
{% for block in section.blocks %}
{% if block.settings.img_id != blank %}
  <div class="column element">
    <div class="hero_img">
    <img src="{{ block.settings.img_id | img_url:'master' }}" alt="{{ block.settings.img_id.alt }}">
    </div>
  <div class="flexcl">
    {% if block.settings.title != blank %}
      <h2 class="title">{{ block.settings.title }}</h2>
   {% endif %} 
    {% if block.settings.subtititle != blank %}
      <p>{{ block.settings.subtititle }}</p>
    {% endif %}
  {% if block.settings.buttontext != blank and block.settings.url != blank %}
      <a href="{{ block.settings.url }}">{{ block.settings.buttontext }}</a>
    {% endif %}
  </div>
  </div>
{% endif %}
{% endfor %}
</div>
{% endif %}
{% schema %}
  {
    "name": "Demo",
    "settings": [
      {
        "type":"text",
        "id":"head",
        "label":"Heading"
      }
    ],
    "blocks":[
      {
        "name":"Image Slider",
        "type":"imageslider",
        "settings":[
          {
          "type":"image_picker",
          "id":"img_id",
          "label":"Image"
          },
          {
            "type":"text",
            "id":"title",
            "label":"Title"
          },
          {
            "type":"text",
            "id":"subtititle",
            "label":"Sub Heading"
          },
          {
            "type":"url",
            "id":"url",
            "label":"Button URL"
          },
          {
            "type":"text",
            "id":"buttontext",
            "label":"Button Text"
          }
        ]
      }
    ],
    "presets": [
    {
      "name": "Demo Section",
      "settings": {
      }
    }
  ]
  }
{% endschema %}
<script>
   $(document).ready(function() {
   $(".slick-slider").slick({
   slidesToShow: 3,
   infinite: true,
   slidesToScroll: 1,
   autoplay: true,
   autoplaySpeed: 2000,
     responsive: [
      {
        breakpoint: 500,
        settings: {
        slidesToShow: 1,
        slidesToScroll: 1,
        }
      },
      {
        breakpoint: 800,
        settings: {
        slidesToShow: 2,
        slidesToScroll: 1
       }
      },
    ]   
  });
});
</script>
